.page {
	@apply flex-grow w-full overflow-y-auto
	flex flex-col dark:bg-slate-800 dark:text-slate-300;
}

.loadingScreen {
	@apply flex items-center justify-center h-screen w-screen;
}

/* Thanks to https://stackoverflow.com/a/69364368/13703806 */
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
	@apply !bg-transparent;
}
